<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="xwang.cordova.umeng.analytics" version="0.0.1">
  <name>UmengAnalytics</name>
  <description>A cordova plugin, a JS version of Umeng Analytics SDK</description>
  <licience>MIT</licience>
  <keywords>cordova,umeng,analytics</keywords>
  <repo>https://github.com/hkizuna/cordova-plugin-umeng-analytics.git</repo>
  <issue>https://github.com/hkizuna/cordova-plugin-umeng-analytics/issues</issue>

  <preference name="UMENGIOSAPPID" />
  <preference name="UMENGANDROIDAPPID" />
  <preference name="UMENGANDROIDCHANNELID" />
  <!-- required cordova version -->
  <engines>
    <engine name="cordova" version=">=3.9.2" />
  </engines>
  <!-- js module -->
  <js-module src="www/umeng-analytics.js" name="UmengAnalytics">
    <clobbers target="UmengAnalytics" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="UmengAnalytics">
      	<param name="ios-package" value="CDVUmengAnalytics" />
      	<param name="onload" value="true" />
      </feature>
      <preference name="UMENGANALYTICSAPPID" value="$UMENGIOSAPPID" />
    </config-file>

    <!-- plugin source code -->
    <header-file src="src/ios/CDVUmengAnalytics.h" />
    <source-file src="src/ios/CDVUmengAnalytics.m" />

    <!-- umeng push -->
    <header-file src="src/ios/libs/MobClick.h" />
    <header-file src="src/ios/libs/MobClickSocialAnalytics.h" />
    <source-file src="src/ios/libs/libMobClickLibrary.a" framework="true" />

    <!-- other required frameworks -->
    <framework src="libz.dylib" />
  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="UmengAnalytics">
        <param name="android-package" value="xwang.cordova.umeng.analytics.UmengAnalytics"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="UMENG_APPKEY" android:value="$UMENGANDROIDAPPID">
      </meta-data>
      <meta-data android:name="UMENG_CHANNEL" android:value="$UMENGANDROIDCHANNELID">
      </meta-data>
    </config-file>
    <source-file src="src/android/UmengAnalytics.java" target-dir="src/xwang/cordova/umeng/analytics" />
    <source-file src="src/android/libs/umeng-analytics-v5.6.4.jar" target-dir="libs" />
  </platform>
</plugin>